<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learnopolia 🐢</title>

    <!-- Home Page Logo -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/logos/home.jpg') }}"
      type="image/jpg"
    />

    <!-- Link style.css -->
    <!-- link rel="stylesheet" href="css/style.css" / -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />

    <!-- ICONSCOUT CDN -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css"
    />

    <!-- GOOGLE FONT (Faustina) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Faustina:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="background-overlay"></div>
    <div class="container">
      <main class="content">
        <div class="text-section">
          <h1>Learnopolia is being rebuilt.</h1>
          <p>
            We're making improvements to give you the best experience. Subscribe below, and stay up-to-date with our journey!
          </p>

          <div class="progress-container">
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
            <span class="progress-text">50% Complete</span>
          </div>

          <form id="subscribe-form" class="subscribe-form">
            <div class="form-group">
              <input
                type="text"
                id="fullName"
                name="fullName"
                placeholder="Full Name"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Email Address"
                required
              />
            </div>
            <button type="submit" id="submit-btn">
              Subscribe to Stay Updated
            </button>
          </form>
          <div id="form-message" class="hidden">
            Thank you for your interest. Stay tuned!
          </div>
        </div>
      </main>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
