<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Join Learnopolia</title>
        <link rel="icon" href="{{ url_for('static', filename='images/user-pages/education.jpg') }}" type="image/jpg">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/user-page.css') }}">
        <!-- Box Icons -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <!-- GOOGLE FONT (Faustina) -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Faustina:wght@300;400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <h3>Sign Up</h3>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </ul>
          {% endif %}
       {% endwith %}
        <form action="/signup" method="post" class="form">
            <div class="msg">{{ msg }}</div>
            <div><input name="firstname" type="text" placeholder="First name" required><br></div>
            <div><input name="lastname" type="text" placeholder="Last name" required><br></div>
            <input name="email" type="email" placeholder="Email Address" required><br></div>
            <input name="password" type="password" placeholder="Password" required><br></div>
            <input name="terms_and_conditions" type="checkbox" required></div>
            <button type="submit" value="submit">Register</button></div>
            <div><p>Already Have An Account? <a href="/login">Login</a></p></div>
        </form>

        <!--
        <script>
            function validateForm() {
            var firstName = document.getElementById("firstName").value;
            var lastName = document.getElementById("lastName").value;
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;

            if (firstName == "" || lastName == "" || email == "" || password == "") {
                alert("All fields are required. Please fill them correctly.");
                return false;
            }

        // You can add more specific validation rules for email and password here

        return true;
    }
        </script>
    -->

    </body>
</html>
